### 1. Pandas 라이브러리를 활용한 데이터 수집

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", indeAx=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### 2. 데이터 불러오기 from 데이터베이스(Oracle)

In [4]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='oracleresult_ldg'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)b

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### 3. 데이터 불러오기 from 데이터베이스(mysql)

In [23]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
import psycopg2 as pg2
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
#engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')
engine_postgre = create_engine('postgresql+psycopg2://kopo:kopo@192.168.110.111:5432/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine_postgre) 
customerData

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
customerData

# 데이터 저장
resultname='customerdata_ldg'
customerData.to_sql(resultname, engine_postgre, if_exists='replace', index=False)

### quiz

In [25]:
# PANDAS 패키지 불러오기
import pandas as pd 
import psycopg2 as pg2
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine_postgre = create_engine('postgresql+psycopg2://kopo:kopo@192.168.110.111:5432/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
pdVariable = pd.read_sql_query('SELECT * FROM customerdata', engine_postgre) 
pdVariable

# 컬럼해더 재정의
pdVariable.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
pdVariable

# 데이터 저장
resultname='customerdata_ldg'
pdVariable.to_sql(resultname, engine_postgre, if_exists='replace', index=False)

### quiz2

In [19]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymssql 
import psycopg2 as pg2
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine_oracle =  create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
engine_mssql = create_engine('mssql+pymssql://haiteam:kopo1234!@192.168.110.107:1433/kopo')
#engine_postgre = create_engine('postgresql+psycopg2://kopo:kopo@192.168.110.111:5432/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
productData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine_mssql) 
productData

    REGIONID PRODUCTGROUP YEARWEEK   VOLUME
0        A01       ST0001   201501   513598
1        A01       ST0001   201502   438251
2        A01       ST0001   201503   420290
3        A01       ST0001   201504   458431
4        A01       ST0001   201505   482381
5        A01       ST0001   201506   570412
6        A01       ST0001   201507   620392
7        A01       ST0001   201508   571781
8        A01       ST0001   201509   569545
9        A01       ST0001   201510   511679
10       A01       ST0001   201511   524787
11       A01       ST0001   201512   486509
12       A01       ST0001   201513   470040
13       A01       ST0001   201514   428195
14       A01       ST0001   201515   810144
15       A01       ST0001   201516   764927
16       A01       ST0001   201517   697502
17       A01       ST0001   201518   671464
18       A01       ST0001   201519   682757
19       A01       ST0001   201520   645626
20       A01       ST0001   201521   620290
21       A01       ST0001   201522   603104
22       A01       ST0001   201523   610479
23       A01       ST0001   201524   589613
24       A01       ST0001   201525   618699
25       A01       ST0001   201526   586721
26       A01       ST0001   201527   599043
27       A01       ST0001   201528   587529
28       A01       ST0001   201529   620882
29       A01       ST0001   201530   643984
..       ...          ...      ...      ...
180      A01       ST0002   201623   161983
181      A01       ST0002   201624   171592
182      A01       ST0002   201625   157283
183      A01       ST0002   201626   196489
184      A01       ST0002   201627   188335
185      A01       ST0002   201628   191105
186      A01       ST0002   201629   163171
187      A01       ST0002   201630   168904
188      A01       ST0002   201631   179630
189      A01       ST0002   201632   215174
190      A01       ST0002   201633   201557
191      A01       ST0002   201634   181811
192      A01       ST0002   201635   229962
193      A01       ST0002   201636   232345
194      A01       ST0002   201637   167810
195      A01       ST0002   201638   174678
196      A01       ST0002   201639   176620
197      A01       ST0002   201640   174555
198      A01       ST0002   201641   166896
199      A01       ST0002   201642   145914
200      A01       ST0002   201643   158291
201      A01       ST0002   201644   178978
202      A01       ST0002   201645   192137
203      A01       ST0002   201646   441993
204      A01       ST0002   201647  1663206
205      A01       ST0002   201648   711806
206      A01       ST0002   201649   278487
207      A01       ST0002   201650   320253
208      A01       ST0002   201651   401602
209      A01       ST0002   201652   208186

[210 rows x 4 columns]

In [21]:
# 컬럼해더 재정의
productData.columns = ['REGIONID_LDG','PRODUCTGROUP_LDG','YEARWEEK_LDG','VOLUME']

# 데이터 VIEW
productData

# 데이터 저장
resultname= 'kopo_product_volume_st_ldg'
productData.to_sql(resultname, engine_oracle, if_exists='replace', index=False)

### 데이터 불러오기 for web

In [3]:
import requests, bs4, pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 구조 태그로 가져오기
title = bs.find("title").text
wf = bs.find("wf").text
print(title)
print(wf)

기상청 육상 중기예보
이번 예보기간에는 고기압의 영향으로 대체로 맑은 날이 많겠습니다.  <br />기온은 평년(최저기온: 15~20도, 최고기온: 22~29도)과 전반에는 비슷하겠고, 후반에는 조금 높겠습니다.<br />강수량은 평년(3~19mm)보다 적겠습니다.

### 데이터 불러오기 from web [태그 찾기-find]

In [14]:
# bs = bs4.BeautifulSoup(html, “html.parser”)
# # div에서 클래스가 class_db_quiz인것만 추출
# divs = bs.find or findAll(“태그명”)
# print(divs)

In [5]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.find("div")
print(find_tag)

<div class="class_py_quiz" id="id_py_quiz">
<h1>Python 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link"> 6/14 파이썬 데이터 불러오기/저장하기 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>
<p></p>
</div>

### 데이터 불러오기 from web [속성 찾기]

In [15]:
# bs = bs4.BeautifulSoup(html, “html.parser”)
# # findAll : 모두찾기 find : 한개만
# findAttr = bs.findAll or find(“태그명”, {“속성명[id or class]”:”속성이름“})

In [10]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 태그 속성으로 찾기
find_attr = bs.find("div",{"id":"id_db_quiz"})
print(find_attr)

<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>

### 데이터 불러오기 from web [태그 내 DOM 부분구조]

In [11]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_attr = bs.find("div",{"id":"id_db_quiz"})
find_part = find_attr.find("a")
print(find_part)

<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>

In [12]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_attr = bs.find("div",{"id":"id_db_quiz"})
find_part = find_attr.findAll("a")
print(find_part)

[<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>]

### dom안에서 태그가 아닌 링크만 찾아내려면

In [13]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
find_part = bs.find("div",{"id":"id_db_quiz"})
# 링크내 속성 가져오기
link = find_part.find("a")
print(find_part.find("a").attrs['href'])

https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link

### quiz 퀴즈내 링크만 전부 FOR LOOP를 활용하여 추출하세요!

In [27]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
a_links = bs.findAll("a")
for a in a_links:
    href= a.attrs["href"]
    print(href)

/
/quiz
/maps/add
/maps
/maps/geomap
/maps/chart
/maps/chartLine
/maps/gitList
/test
https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link

In [28]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
a_links = bs.findAll("a")
for a in a_links:
    #a 링크 내 href 속성
    href= a.attrs["href"]
    #a 링크 텍스트
    text = a.text
    if(href.startswith("/")):
        continue;
    print(text, ">", href)

 6/14 파이썬 데이터 불러오기/저장하기  > https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link
 6/8 postgres 과제  > https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link
 6/8 파이썬 제어문  > https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link
 6/7 파이썬 자료형  > https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link
 5/31 파이썬 머신러닝  > https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link
 5/24 파이썬 시작하기  > https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link
 5/3 Spark 심화과정-groupby > https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link
 4/27 Spark 심화과정  > https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link
 4/12 Spark 기본과정  > https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link
 6/12 오라클 Join 퀴즈  > https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link
 6/5 오라클 GroupBy 퀴즈  > https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
 5/29 오라클 숫자/날짜 및 고급함수  > https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
 5/15 오라클 데이터 조회(함수활용)   > https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
 5/8 오라클 원격접속 및 조회  > https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
 4/10 무결성 제약조건  > https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link