### 하둡

In [7]:
# Pandas and hdfs 패키지
import pandas as pd
from hdfs import InsecureClient
import os
# hdfs 설정
client_hdfs = InsecureClient('http://192.168.110.114:50070')

# Test PandasDataFrame 생성 및 넣기
liste_hello = ['hello1','hello2']
liste_world = ['world1','world2']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})

# 데이터프레임 hdfs에 저장
with client_hdfs.write('/mydata/helloworld_ldg.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)

    # ====== Reading files ======
with client_hdfs.read('/mydata/helloworld_ldg.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)

In [8]:
readdf

    hello   world
0  hello1  world1
1  hello2  world2