### productage가 1보다작으면 1 2보다작으면2 3보다작으면3 이외는 5라고 새로운 컬럼 product_age_new를 생성하세요

In [57]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("C:/Users/SMART-01/python_ldg/dataset/CUSTOMERDATA.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

## 데이터프레임 생성
customerData = pd.DataFrame(customerData)
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1    A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2    A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3    A16605  3713.211107    2          6.6    0.900000        Early-bird
4    B10634  3391.074215    2          4.2    2.453656      Sleeping-dog
5    B16849  3755.263391    2          4.7    2.786665      Sleeping-dog
6    B18816  3213.911446    2          6.4    0.900000        Early-bird
7    C10639  3516.500000    2          5.2    2.564830  Big-Screen-lover
8    C12717  3732.900000    2          5.7    2.069995  Big-Screen-lover
9    C15050  4020.173425    2          4.9    3.013440      Sleeping-dog
10   C18306  4005.005142    2          4.7    3.113618      Sleeping-dog
11   C18622  3246.000000    1          5.0    1.891624  Big-Screen-lover
12   C19178  3624.700000    2          5.6    2.137246  Big-Screen-lover
13   D11795  2991.014703    2          6.4    0.800000        Early-bird
14   D13030  3227.855655    2          4.8    3.467370      Sleeping-dog
15   D15289  4165.700000    2          6.9    2.911016  Big-Screen-lover
16   D17241  4166.533130    2          4.7    2.577757      Sleeping-dog
17   D17880  3383.145853    2          4.5    2.903990      Sleeping-dog
18   E10778  4165.700000    2          6.7    2.122257  Big-Screen-lover
19   E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
20   E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
21   E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
22   E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
23   E19404  3764.940414    2          6.5    0.900000        Early-bird
24   F10222  3191.065822    2          6.5    0.900000        Early-bird
25   F12979  4165.700000    2          6.1    2.128362  Big-Screen-lover
26   F14866  3137.800000    2          5.1    1.725892  Big-Screen-lover
27   F17131  3179.708359    3          6.5    1.100000        Early-bird
28   F18646  3334.244233    2          4.5    3.273196      Sleeping-dog
29   F19938  3732.900000    2          5.4    2.011303  Big-Screen-lover
..      ...          ...  ...          ...         ...               ...
120  U16894  3234.465609    2          3.6    2.606419      Sleeping-dog
121  U17547  3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748  3394.152840    2          4.0    2.185742      Sleeping-dog
123  V10654  3902.329790    2          4.6    3.260149      Sleeping-dog
124  V16516  3149.259875    2          4.1    2.410823      Sleeping-dog
125  V16704  2605.631083    2          6.6    0.900000        Early-bird
126  V18566  3527.701867    3          6.5    0.900000        Early-bird
127  V19072  3462.400000    2          5.3    1.922932  Big-Screen-lover
128  W10832  3527.360507    2          4.1    2.136971      Sleeping-dog
129  W13032  4003.400000    2          6.1    2.519623  Big-Screen-lover
130  W13404  4296.873743    3          6.5    1.100000        Early-bird
131  W13995  2411.008838    2          6.4    1.000000        Early-bird
132  W16193  3402.729703    2          6.4    0.900000        Early-bird
133  W18228  3480.455474    2          6.4    0.900000        Early-bird
134  X10158  3949.300000    2          6.3    1.815666  Big-Screen-lover
135  X13390  2947.543982    3          6.3    1.100000        Early-bird
136  X14259  3481.314549    2          4.3    2.528063      Sleeping-dog
137  X19598  3516.500000    2          5.1    2.646259  Big-Screen-lover
138  X19768  3486.085831    2          4.6    2.835355      Sleeping-dog
139  Y10906  3408.300000    2          6.0    2.131432  Big-Screen-lover
140  Y12458  2976.211190    1          3.5    2.199677      Sleeping-dog
141  Y13678  3408.300000    2          5.6    2.084005  Big-Screen-lover
142  Z11525  3259.018704    3          6.4    0.900000        Early-bird
143  Z12343  3498.896985    2          6.6    0.900000        Early-bird
144  Z12772  3029.600000    2          4.9    2.093035  Big-Screen-lover
145  Z13253  3678.800000    2          5.9    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3          6.6    0.900000        Early-bird
147  Z16428  3516.500000    2          5.8    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2          5.6    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2          6.7    1.200000        Early-bird

[150 rows x 6 columns]

In [25]:
# numpy 라이브러리 
import numpy as np

#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
customerData["PRODUCTAGE_NEW"] = np.\
where(customerData["PRODUCTAGE"] < 1, 1, customerData["PRODUCTAGE"])
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,1.679181
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,2.682023
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,3.208202
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1.000000
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.453656

In [26]:
# 1,2,3
# step = [1,2,3]
step = list(range(1,4))
maxValue = 5
customerData["PRODUCTAGE_NEW"] = np.where(customerData["PRODUCTAGE"] < step[0], step[0], \
                                          np.where(customerData["PRODUCTAGE"] < step[1], step[1], \
                                          np.where(customerData["PRODUCTAGE"] < step[2], step[2], \
                                          maxValue)))
                                                   
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3

In [33]:
#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    elif df['PRODUCTAGE'] < 3:
        return 3
    else:
        return 5

customerData["productage_new2"] =customerData.apply(refining, axis=1)
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,3
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,3

In [35]:
# 데이터 정렬하기
customerData.sort_values(["CUSTID","AVGPRICE"], ascending=[True,False])
customerData.tail(5)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
145,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,3,3
146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1
147,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,3,3
148,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,2,2
149,Z19835,3326.526183,2,6.7,1.200000,Early-bird,2,2

In [44]:
# 평균 구하기
meanValue = customerData.\
groupby(['CUSTTYPE','EMI'], as_index=True).\
mean()

In [42]:
meanValue

                         AVGPRICE  DEVICECOUNT  PRODUCTAGE  PRODUCTAGE_NEW  \
CUSTTYPE         EMI
Big-Screen-lover 1    3246.000000     5.000000    1.891624        2.000000
                 2    3535.317391     5.508696    2.223247        2.804348
                 3    4111.600000     6.400000    1.838520        2.333333
Early-bird       1    2390.083736     6.300000    1.000000        2.000000
                 2    3232.445885     6.460606    0.936364        1.242424
                 3    3455.966035     6.475000    0.962500        1.437500
Sleeping-dog     1    3185.918464     3.833333    2.357587        2.777778
                 2    3504.298670     4.353659    2.724274        3.463415

                      productage_new2
CUSTTYPE         EMI
Big-Screen-lover 1           2.000000
                 2           2.804348
                 3           2.333333
Early-bird       1           2.000000
                 2           1.242424
                 3           1.437500
Sleeping-dog     1           2.777778
                 2           3.463415

In [54]:
# 평균 구하기
meanValue = customerData.\
groupby(['EMI'], as_index=True).\
mean()
meanValue

        AVGPRICE  DEVICECOUNT  PRODUCTAGE  PRODUCTAGE_NEW  productage_new2
EMI
1    3119.031810     4.163636    2.191810        2.636364         2.636364
2    3441.429664     5.375833    2.040539        2.600000         2.600000
3    3559.487188     6.463158    1.100819        1.578947         1.578947

In [51]:
# 평균 구하기
maxValue = customerData.\
groupby(['EMI'], as_index=True).\
max()

In [52]:
maxValue

,CUSTID,AVGPRICE,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
EMI,,,,,,,
1,Y12458,3419.462596,6.3,2.994395,Sleeping-dog,3,3
2,Z19835,4166.533130,6.9,3.483573,Sleeping-dog,5,5
3,Z13534,4296.873743,6.9,2.055707,Early-bird,3,3

In [62]:
customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window = 5, center = False).mean()
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,NaN
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,NaN
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,NaN
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,NaN
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.184612
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,2.406109
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,2.049705
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,1.921030
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.155029
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,2.266986

In [64]:
customerData["PRODUCTAGE"][1]

2.68202302093618

In [65]:
order = 5

In [66]:
suborder = 4

In [68]:
import math
suborder = math.floor(5/2)

In [69]:
list = []
for i in range(0,suborder):
    list.append(customerData["PRODUCTAGE"][0:i+suborder].mean())
list

[2.180601934487935, 2.5231351467625562]