### 주요단축키, 자료형

In [2]:
a=3
b=5

In [4]:
a.conjugate

AttributeError: 'int' object has no attribute 'conjugateType'

In [5]:
a=3
A=5

print(a)
print(A)

3
5

In [6]:
3A = 2

SyntaxError: invalid syntax (<ipython-input-6-5623cf5289d8>, line 1)

In [7]:
if = 3

SyntaxError: invalid syntax (<ipython-input-7-d7549b45180c>, line 1)

### 사칙연산

In [9]:
# 파이썬 사칙연산
integer_value = 123
float_value = 12.456

In [10]:
type(integer_value)

int

In [69]:
# 1. 더하기 연산
sum1 = integer_value+float_value
print(sum)

135.456

In [12]:
# 2. 곱하기연산
multiple = integer_value*float_value
print(multiple)

1532.088

In [13]:
# 3. 나누기 연산
division = integer_value/float_value
print(division)

9.8747591522158

In [14]:
# 4. 제곱연산
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)

144

In [15]:
# 5. 나머지 연산
mod = integer_value%int(float_value)
print(mod)

3

### 문자열

In [19]:
aType = "This is'String' value"
print(aType)

This is'String' value

In [20]:
bType = 'This is "String" value'
print(bType)

This is "String" value

In [23]:
cType = """This is 'String' value"""
print(cType)

This is 'String' value

In [24]:
a = "abc""def"
print(a)

abcdef

In [25]:
print("*"*20+" 문자열 연산 프로그램"+"*"*20)

******************** 문자열 연산 프로그램********************

In [26]:
yearweek = "201801"
print(yearweek[0])
print(yearweek[0:4])
print(yearweek[4:])

2
2018
01

In [27]:
yearweek = "2017W28"
print(yearweek.count('W'))

1

In [28]:
print(yearweek.index('W'))

4

In [29]:
delimeter = yearweek.index('W')
yearweek_new = yearweek[:delimeter]+yearweek[delimeter+1:]
print([yearweek_new])

['201728']

In [31]:
yearweek_list = yearweek.split("W")
print(yearweek_list)

['2017', '28']

In [32]:
head = "polytech"
tail = "student"
fullString = head+" "+tail
print(fullString)

polytech student

In [40]:
# 실습
testData2 = "Sec 2017W28 250"
testDataSplit2 = testData2.upper().split(" ")
testDataSplit2

print(testDataSplit2[0])
print(testDataSplit2[1].replace('W',''))
print(testDataSplit2[2])

SEC
201728
250

### 리스트

In [39]:
#리스트 연산
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712,201713]

secinfo = stockName+priceList+[dateList]
print(secinfo)

#리스트 인덱싱
#secinfo=["SEC",120,130,[201712,201713]]
print(secinfo[1])
print(secinfo[3])
print(secinfo[3][0])
print(secinfo[0:3])

['SEC', 120, 130, [201712, 201713]]
120
[201712, 201713]
201712
['SEC', 120, 130]

In [48]:
#리스트 값 업데이트 하기
updateList = [120,130,140,150]
print(updateList)
updateList[2] = 180
print(updateList)

#리스트 값 삭제하기 구간 1<=인덱스<3
updateList[1:3] = []

print(updateList)

[120, 130, 140, 150]
[120, 130, 180, 150]
[120, 150]

In [1]:
functionList = [120,130,140,150]
#리스트에 요소 추가하기
functionList.append(100)  ## functionList.insert(3,100) 3번째 인덱스에 추가
functionList.extend([11,12])
print(functionList)
#리스트 정렬하기
functionList.sort(reverse = False)
print(functionList)
#값으로 인덱스 가져오기
print(functionList.index(150))
#리스트 자주사용하는 함수
print(len(functionList))
print(min(functionList))
print(max(functionList))
print(sum(functionList))

[120, 130, 140, 150, 100, 11, 12]
[11, 12, 100, 120, 130, 140, 150]
6
7
11
150
663

In [3]:
#실습
testDataList = [120,150,300,500,1000,100,2000]
maxValue = max(testDataList)
print(maxValue)
minValue = min(testDataList)
print(minValue)

testDataList.pop(testDataList.index(maxValue))
testDataList.pop(testDataList.index(minValue))

print(testDataList)

2000
100
[120, 150, 300, 500, 1000]

In [4]:
averageSum = sum(testDataList)
averageCount = len(testDataList)

average = averageSum/averageCount
print(average)


# if averageCount!=0:
#         average = averageSum/averageCount
# elif
# else:
#             average = 1
# average

414.0

### 딕셔너리

In [5]:
d = dict(name="sec", value=300000, address="suwon")
d

{'address': 'suwon', 'name': 'sec', 'value': 300000}

In [6]:
d.keys()

dict_keys(['name', 'value', 'address'])

In [7]:
d.values()

dict_values(['sec', 300000, 'suwon'])

In [8]:
d.items()

dict_items([('name', 'sec'), ('value', 300000), ('address', 'suwon')])

In [11]:
dic = {"name":"sec","id":"300000","address":"suwon"}
print(dic)
print(dic['name'])

# dictional key value 추가/변경
dic["name"] = "sec2"
dic["stock"] = "yes"
print(dic)
print(dic["stock"])

# diction 요소 삭제하기
del dic["id"]
print(dic)

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec
{'name': 'sec2', 'id': '300000', 'address': 'suwon', 'stock': 'yes'}
yes
{'name': 'sec2', 'address': 'suwon', 'stock': 'yes'}

In [14]:
# 실습
dic = {"name":"sec", "id":"300000", "address":"suwon"}
del dic["id"]
dic

{'address': 'suwon', 'name': 'sec'}