### 1. [데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 ORACLE 테이블에KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [8]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
import psycopg2 as pg2
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')
#engine_postgre = create_engine('postgresql+psycopg2://kopo:kopo@192.168.110.111:5432/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
myData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME ', engine_mysql) 
myData

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME
0        A01       ST0002   201512   151750.0
1        A01       ST0001   201520   645626.0
2        A01       ST0002   201520   125863.0
3        A01       ST0001   201515   810144.0
4        A01       ST0002   201515   128999.0
5        A01       ST0001   201518   671464.0
6        A01       ST0002   201518   134467.0
7        A01       ST0001   201513   470040.0
8        A01       ST0002   201513   140297.0
9        A01       ST0001   201511   524787.0
10       A01       ST0002   201511   145509.0
11       A01       ST0001   201516   764927.0
12       A01       ST0002   201516   140313.0
13       A01       ST0001   201519   682757.0
14       A01       ST0002   201519   128668.0
15       A01       ST0001   201514   428195.0
16       A01       ST0002   201514   137488.0
17       A01       ST0001   201512   486509.0
18       A01       ST0001   201517   697502.0
19       A01       ST0002   201517   127163.0
20       A01       ST0001   201507   620392.0
21       A01       ST0002   201507   146476.0
22       A01       ST0001   201510   511679.0
23       A01       ST0002   201510   153152.0
24       A01       ST0001   201502   438251.0
25       A01       ST0002   201502   123875.0
26       A01       ST0001   201505   482381.0
27       A01       ST0002   201505   180516.0
28       A01       ST0001   201508   571781.0
29       A01       ST0002   201508   156772.0
..       ...          ...      ...        ...
129      A01       ST0002   201619   152980.0
130      A01       ST0001   201624   772706.0
131      A01       ST0002   201624   171592.0
132      A01       ST0001   201622   817878.0
133      A01       ST0002   201622   214929.0
134      A01       ST0001   201620   695859.0
135      A01       ST0002   201620   160913.0
136      A01       ST0001   201618   712672.0
137      A01       ST0002   201618   162560.0
138      A01       ST0001   201625   786218.0
139      A01       ST0002   201625   157283.0
140      A01       ST0001   201612   794413.0
141      A01       ST0002   201612   132780.0
142      A01       ST0001   201610  1218194.0
143      A01       ST0002   201610   142575.0
144      A01       ST0001   201617   694920.0
145      A01       ST0002   201617   142279.0
146      A01       ST0001   201615   678467.0
147      A01       ST0002   201615   143180.0
148      A01       ST0001   201613   886427.0
149      A01       ST0002   201613   135788.0
150      A01       ST0001   201611  1011581.0
151      A01       ST0002   201611   150915.0
152      A01       ST0001   201609   635412.0
153      A01       ST0001   201616   658270.0
154      A01       ST0002   201616   137927.0
155      A01       ST0002   201609   154149.0
156      A01       ST0001   201614   739977.0
157      A01       ST0002   201614   148835.0
158      A01       ST0001   201641   746061.0

[159 rows x 4 columns]

In [9]:
# 데이터 저장
resultname='KOPO_PY_LDG_FINAL1'
myData.to_sql(resultname, engine_mysql, if_exists='replace', index=False)

### 2. [데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [1]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('select * from KOPO_PRODUCT_VOLUME where substr(to_char(yearweek),1,4) = 2016', engine)

# 컬럼해더 재정의
customerData.columns = ['regionid','productgroup','yearweek','volume']

customerData = pd.DataFrame(customerData)
customerData

customerData

   regionid productgroup yearweek     volume
0       A01       ST0001   201605   661049.0
1       A01       ST0002   201605   231214.0
2       A01       ST0001   201603   531372.0
3       A01       ST0002   201603   152763.0
4       A01       ST0001   201601   651243.0
5       A01       ST0002   201601   162801.0
6       A01       ST0001   201608   671116.0
7       A01       ST0002   201608   130000.0
8       A01       ST0001   201606   881536.0
9       A01       ST0002   201606   172230.0
10      A01       ST0001   201604   585025.0
11      A01       ST0002   201604   197057.0
12      A01       ST0001   201602   573198.0
13      A01       ST0002   201602   137186.0
14      A01       ST0001   201607   790430.0
15      A01       ST0002   201607   161324.0
16      A01       ST0001   201623   768124.0
17      A01       ST0002   201623   161983.0
18      A01       ST0001   201621   721991.0
19      A01       ST0002   201621   205984.0
20      A01       ST0001   201626   871247.0
21      A01       ST0002   201626   196489.0
22      A01       ST0001   201619   693402.0
23      A01       ST0002   201619   152980.0
24      A01       ST0001   201624   772706.0
25      A01       ST0002   201624   171592.0
26      A01       ST0001   201622   817878.0
27      A01       ST0002   201622   214929.0
28      A01       ST0001   201620   695859.0
29      A01       ST0002   201620   160913.0
30      A01       ST0001   201618   712672.0
31      A01       ST0002   201618   162560.0
32      A01       ST0001   201625   786218.0
33      A01       ST0002   201625   157283.0
34      A01       ST0001   201612   794413.0
35      A01       ST0002   201612   132780.0
36      A01       ST0001   201610  1218194.0
37      A01       ST0002   201610   142575.0
38      A01       ST0001   201617   694920.0
39      A01       ST0002   201617   142279.0
40      A01       ST0001   201615   678467.0
41      A01       ST0002   201615   143180.0
42      A01       ST0001   201613   886427.0
43      A01       ST0002   201613   135788.0
44      A01       ST0001   201611  1011581.0
45      A01       ST0002   201611   150915.0
46      A01       ST0001   201609   635412.0
47      A01       ST0001   201616   658270.0
48      A01       ST0002   201616   137927.0
49      A01       ST0002   201609   154149.0
50      A01       ST0001   201614   739977.0
51      A01       ST0002   201614   148835.0
52      A01       ST0001   201641   746061.0

In [6]:
# 데이터 저장
resultname1='KOPO_PY_LDG_FINAL2'
customerData.to_sql(resultname1, engine, if_exists='replace', index=False)

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(oracle+cx_oracle://kopo:***@192.168.110.112:1521/orcl): (KOPO_PY_LDG_FINAL5)

In [2]:
customerData.dtypes

regionid         object
productgroup     object
yearweek         object
volume          float64
dtype: object

In [75]:
a = "abcd"

In [78]:
a[3]=="d"

True

### 3. [스크래핑] https://www.timeanddate.com/holidays/south-korea/ 사이트에서 화면에 보이는 테이블의 holiday정보를 스크래핑 하여 아래 이미지와 동일한 컬럼의 정보를 추출한 후 KOPO_PY_{이름}_FINAL3 테이블로 생성하세요 [심심하면 Date도 같이..저장하세요]

In [34]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.find("div")
print(find_tag)

<div class="wrapper"><div class="banner" id="header"><div class="fixed">
<div id="logo"><a href="/" rel="home"><img alt="timeanddate.com" src="//c.tadst.com/gfx/n/tad-logo-com3.png" title="Home page timeanddate.com"/></a></div>
</div></div>
<div id="ad-wrap"><div class="fixed" id="ad-wrap2"><div id="ad7"><div id="div-gpt-com-728x90" style="width:728px;height:90px;"><script type="text/javascript">
googletag.cmd.push(function(){googletag.display('div-gpt-com-728x90'); });
</script>
</div></div></div></div><div id="naw"><div class="fixed" id="nav"><div class="nav-bar"><button id="navButton" role="presentation"><span>Menu</span></button><a class="mobLogo" href="/" role="presentation">timeanddate.com</a><button id="searchButton"><span></span></button><button id="socialButton"></button></div><div id="searchMenu"><div class="searchHead">Search <button aria-label="Close" class="close" id="closeSearch" type="button">×</button></div><div class="searchBody"><h3>Site / Articles</h3><div class="searchBox"><form action="/search/results.html" method="get"><input aria-label="Search site" id="query_site" name="query" placeholder="Site / Articles" type="text"/><input aria-label="Search" type="submit" value=""/></form></div><h3>City / Country</h3><div class="searchBox"><form action="/worldclock/results.html" method="get"><input aria-label="Search cities" id="query_city" name="query" placeholder="City / Country" type="text"/><input aria-label="Search" type="submit" value=""/></form></div></div></div><div id="socialMenu" role="presentation"><div class="socialHead">Social  <button class="close" id="closeSocial" type="button">×</button></div><div class="socialBody"><h3>Share this page / Follow us on:</h3><div class="social" data-social="facebook"><div class="links"><div class="fb-like" data-action="like" data-layout="button_count" data-share="true" data-show-faces="true"></div><div class="fb-follow" data-href="https://www.facebook.com/timeanddate" data-layout="button_count" data-show-faces="false"></div></div><div class="reveal">Facebook</div><div class="logo"></div></div><div class="social" data-social="twitter"><div class="links"><a class="twitter-share-button" data-lang="en" data-via="twitterapi" href="https://twitter.com/share">Tweet</a><a class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" href="https://twitter.com/timeanddate">Follow</a></div><div class="reveal">Twitter</div><div class="logo"></div></div><div class="social" data-social="google"><div class="links"><div class="g-plus" data-action="share" data-annotation="bubble"></div><div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/102374259153670433443" data-rel="publisher"></div></div><div class="reveal">Google+</div><div class="logo"></div></div><h3>Visit us on:</h3><div class="followus"><a class="facebook" href="https://www.facebook.com/timeanddate">Facebook</a><a class="twitter" href="https://twitter.com/timeanddate">Twitter</a><a class="google" href="https://plus.google.com/+timeanddate">Google</a></div></div></div> <ul id="navMenu"><li class="c-my"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/custom/">My account</a><ul><li><a href="/custom/location.html" id="popchi">My Location</a><li><a href="/custom/site.html">My Units</a><li><a href="/calendar/events/">My Events</a><li><a href="/worldclock/personal.html">My World Clock</a><li><a href="/custom/privacy.html">My Privacy</a><li><a href="/custom/login.html" id="poplogin">Sign in</a><li><a href="/custom/create.html" id="popreg">Register</a></li></li></li></li></li></li></li></ul></li><li class="c-hm"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/">Home</a><ul><li><a href="/newsletter/">Newsletter</a><li><a href="/information/">About Us</a><li><a href="/sitemap.html">Site Map</a><li><a href="/custom/">Account/Settings</a><li><a href="/topics/">Article Topics</a></li></li></li></li></li></ul></li><li class="c-wc"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/worldclock/">World Clock</a><ul><li><a href="/worldclock/">Main World Clock</a><li><a href="/worldclock/full.html">Extended World Clock</a><li><a href="/worldclock/personal.html">Personal World Clock</a><li><a href="/worldclock/search.html">World Time Lookup </a><li><a href="/topics/timekeeping">Time Articles</a></li></li></li></li></li></ul></li><li class="c-tz"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/time/">Time Zones</a><ul><li><a href="/worldclock/converter.html">Time Zone Converter</a><li><a href="/worldclock/meeting.html">International Meeting Planner</a><li><a href="/worldclock/fixedform.html">Event Time Announcer</a><li><a href="/time/map/">Time Zone Map</a><li><a href="/time/zones/">Time Zone Abbreviations</a><li><a href="/news/time/">Time Zone News</a><li><a href="/time/dst/">Daylight Saving Time</a><li><a href="/time/change/">Time Changes Worldwide</a><li><a href="/worldclock/difference.html">Time Difference</a><li><a href="/topics/time-zone">Time Zone Articles</a></li></li></li></li></li></li></li></li></li></li></ul></li><li class="c-cl active"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/calendar/">Calendar</a><ul><li><a href="/calendar/info.html">Calendar Info</a><li><a href="/calendar/">Calendar 2018</a><li><a href="/calendar/?year=2019">Calendar 2019</a><li><a href="/calendar/monthly.html">Monthly Calendar</a><li><a href="/calendar/create.html">Printable PDF Calendar </a><li><a href="/calendar/events/">Add Your Own Calendar Events</a><li><a href="/calendar/basic.html">Calendar Creator</a><li><a href="/calendar/custommenu.html">Advanced Calendar Creator</a><li><a href="/holidays/">Holidays Worldwide</a><li><a href="/on-this-day/">On This Day in History</a><li><a href="/topics/calendar">Calendar Articles</a></li></li></li></li></li></li></li></li></li></li></li></ul></li><li class="c-wt"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/weather/">Weather</a><ul><li><a href="/weather/">Worldwide</a><li><a href="/scripts/go.php">Local Weather</a><li><a href="/scripts/goweather.php?type=ext">2-Week Forecast</a><li><a href="/scripts/go.php?type=hourly">Hour-by-Hour</a><li><a href="/scripts/go.php?type=historic">Past Week</a><li><a href="/scripts/go.php?type=climate">Climate</a></li></li></li></li></li></li></ul></li><li class="c-sm"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/astronomy/">Sun &amp; Moon</a><ul><li><a href="/sun/">Sun Calculator</a><li><a href="/moon/">Moon Calculator</a><li><a href="/moon/phases/">Moon Phases</a><li><a href="/eclipse/">Eclipses</a><li><a href="/calendar/seasons.html">Seasons</a><li><a href="/worldclock/sunearth.html">Day and Night Map</a><li><a href="/astronomy/moon/light.html">Moon Light World Map</a><li><a href="/astronomy/meteor-shower/">Meteor Showers</a><li><a href="/topics/astronomy">Astronomy Articles</a></li></li></li></li></li></li></li></li></li></ul></li><li class="c-tm"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/counters/">Timers</a><ul><li><a href="/stopwatch/">Stopwatch</a><li><a href="/timer/">Timer</a><li><a href="/countdown/create">Countdown to Any Date</a><li><a href="/countdown/newyear">New Year Countdown</a></li></li></li></li></ul></li><li class="c-cc"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/date/">Calculators</a><ul><li><a href="/date/duration.html">Date to Date Calculator (duration)</a><li><a href="/date/workdays.html">Business Date to Date (exclude holidays)</a><li><a href="/date/dateadd.html">Date Calculator (add / subtract)</a><li><a href="/date/weekdayadd.html">Business Date (exclude holidays)</a><li><a href="/worldclock/dialing.html">International Dialing Codes</a><li><a href="/worldclock/distance.html">Distance Calculator</a><li><a href="/worldclock/distances.html">Distance Signpost</a><li><a href="/time/travel.html">Travel Time Calculator</a><li><a href="/date/weekday.html">Weekday Calculator</a><li><a href="/date/weeknumber.html">Week Number Calculator</a></li></li></li></li></li></li></li></li></li></li></ul></li><li class="c-ap"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/extra/">Apps &amp; API</a><ul><li><a href="/ios/">iOS Apps</a><li><a href="/android/">Android Apps</a><li><a href="/windows/">Windows App</a><li><a href="/clocks/free.html">Free Clock</a><li><a href="/clocks/freecountdown.html">Free Countdown</a><li><a href="/services/api/">API for Developers</a></li></li></li></li></li></li></ul></li><li class="c-ff"><a class="nav-back" href="#">Back</a><a class="navMenu__item" href="/fun/">Free Fun</a><ul><li><a href="/clocks/free.html">Free Clock for Your Site</a><li><a href="/clocks/freecountdown.html">Free Countdown for Your Site</a><li><a href="/wordclock/">Word Clock</a><li><a href="/holidays/fun/">Fun Holidays</a><li><a href="/date/birthday.html">Alternative Age Calculator</a><li><a href="/date/pattern.html">Date Pattern Calculator</a><li><a href="/topics/fun">Fun Fact Articles</a></li></li></li></li></li></li></li></ul></li></ul></div></div><div class="po" id="po1"></div><div id="mpo"></div><div class="alert-notice__wrap" id="anw"></div><div class="dn" id="privacybanner"></div><div class="main-content-div"><div class="bc__wrap"><div class="row socrow"><div class="fixed" id="bc"><div id="bct"><a class="fx" href="/" target="_top">Home</a>   <a class="fx" href="/calendar/" target="_top">Calendar</a>   <a class="fx" href="/holidays/" target="_top">Holidays</a>   South Korea</div></div></div></div><article class="fixed"><section class="article"><p class="lead"></p>

In [42]:
# html 태그 속성으로 찾기
find_attr = bs.find("table",{"class":"zebra fw tb-cl tb-hover"})
print(find_attr)

<table class="zebra fw tb-cl tb-hover"><thead><tr class="head"><th rowspan="2">Date</th><th class="sep" rowspan="2">Weekday</th><th class="sep" rowspan="2">Holiday Name</th><th class="sep" rowspan="2">Holiday Type</th></tr><tr class="head"></tr></thead><tbody><tr class="c0" id="tr0"><th class="nw">Jan 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td><td>National holiday</td></tr><tr class="c1" id="tr1"><th class="nw">Feb 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td><td>Observance</td></tr><tr class="c0" id="tr2"><th class="nw">Feb 14</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr><tr class="c1" id="tr3"><th class="nw">Feb 15</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td><td>National holiday</td></tr><tr class="c0" id="tr4"><th class="nw">Feb 16</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td><td>National holiday</td></tr><tr class="c1" id="tr5"><th class="nw">Feb 17</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td><td>National holiday</td></tr><tr class="c0" id="tr6"><th class="nw">Feb 25</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td><td>Observance</td></tr><tr class="c1" id="tr7"><th class="nw">Mar 1</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr><tr class="c0" id="tr8"><th class="nw">Mar 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td><td>Observance</td></tr><tr class="c1" id="tr9"><th class="nw">Mar 18</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td><td>Observance</td></tr><tr class="c0" id="tr10"><th class="nw">Mar 20</th><td class="nw">Tuesday</td><td><a href="/calendar/march-equinox.html">March equinox</a></td><td>Season</td></tr><tr class="c1" id="tr11"><th class="nw">Apr 5</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td><td>Observance</td></tr><tr class="c0" id="tr12"><th class="nw">May 1</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr><tr class="c1" id="tr13"><th class="nw">May 5</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td><td>National holiday</td></tr><tr class="c0" id="tr14"><th class="nw">May 7</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td><td>National holiday</td></tr><tr class="c1" id="tr15"><th class="nw">May 8</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td><td>Observance</td></tr><tr class="c0" id="tr16"><th class="nw">May 15</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr><tr class="c1" id="tr17"><th class="nw">May 22</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td><td>National holiday</td></tr><tr class="c0" id="tr18"><th class="nw">Jun 6</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td><td>National holiday</td></tr><tr class="c1" id="tr19"><th class="nw">Jun 13</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td><td>National holiday</td></tr><tr class="c0" id="tr20"><th class="nw">Jun 21</th><td class="nw">Thursday</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr><tr class="c1" id="tr21"><th class="nw">Jul 17</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td><td>Observance</td></tr><tr class="c0" id="tr22"><th class="nw">Aug 15</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr><tr class="c1" id="tr23"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/calendar/september-equinox.html">September equinox</a></td><td>Season</td></tr><tr class="c0" id="tr24"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>National holiday</td></tr><tr class="c1" id="tr25"><th class="nw">Sep 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td><td>National holiday</td></tr><tr class="c0" id="tr26"><th class="nw">Sep 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>National holiday</td></tr><tr class="c1" id="tr27"><th class="nw">Sep 26</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td><td>National holiday</td></tr><tr class="c0" id="tr28"><th class="nw">Oct 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr><tr class="c1" id="tr29"><th class="nw">Oct 3</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr><tr class="c0" id="tr30"><th class="nw">Oct 9</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr><tr class="c1" id="tr31"><th class="nw">Oct 31</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/halloween">Halloween</a></td><td>Observance</td></tr><tr class="c0" id="tr32"><th class="nw">Dec 21</th><td class="nw">Friday</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr><tr class="c1" id="tr33"><th class="nw">Dec 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr><tr class="c0" id="tr34"><th class="nw">Dec 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td><td>National holiday</td></tr><tr class="c1" id="tr35"><th class="nw">Dec 31</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr></tbody></table>

In [44]:
find_part = find_attr.findAll("th")
print(find_part)

[<th rowspan="2">Date</th>, <th class="sep" rowspan="2">Weekday</th>, <th class="sep" rowspan="2">Holiday Name</th>, <th class="sep" rowspan="2">Holiday Type</th>, <th class="nw">Jan 1</th>, <th class="nw">Feb 9</th>, <th class="nw">Feb 14</th>, <th class="nw">Feb 15</th>, <th class="nw">Feb 16</th>, <th class="nw">Feb 17</th>, <th class="nw">Feb 25</th>, <th class="nw">Mar 1</th>, <th class="nw">Mar 9</th>, <th class="nw">Mar 18</th>, <th class="nw">Mar 20</th>, <th class="nw">Apr 5</th>, <th class="nw">May 1</th>, <th class="nw">May 5</th>, <th class="nw">May 7</th>, <th class="nw">May 8</th>, <th class="nw">May 15</th>, <th class="nw">May 22</th>, <th class="nw">Jun 6</th>, <th class="nw">Jun 13</th>, <th class="nw">Jun 21</th>, <th class="nw">Jul 17</th>, <th class="nw">Aug 15</th>, <th class="nw">Sep 23</th>, <th class="nw">Sep 23</th>, <th class="nw">Sep 24</th>, <th class="nw">Sep 25</th>, <th class="nw">Sep 26</th>, <th class="nw">Oct 1</th>, <th class="nw">Oct 3</th>, <th class="nw">Oct 9</th>, <th class="nw">Oct 31</th>, <th class="nw">Dec 21</th>, <th class="nw">Dec 24</th>, <th class="nw">Dec 25</th>, <th class="nw">Dec 31</th>]

In [20]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns=bs.select('table > thead > tr > th')
columns
type(columns)

columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)

df

Empty DataFrame
Columns: [Date, Weekday, Holiday Name, Holiday Type]
Index: []

In [57]:
contents=bs.select('table  > tbody > tr')
dfcontent=[]
alldfcontents=[]
contents

[<tr class="c0" id="tr0"><th class="nw">Jan 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr1"><th class="nw">Feb 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr2"><th class="nw">Feb 14</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr3"><th class="nw">Feb 15</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr4"><th class="nw">Feb 16</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr5"><th class="nw">Feb 17</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr6"><th class="nw">Feb 25</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr7"><th class="nw">Mar 1</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr8"><th class="nw">Mar 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr9"><th class="nw">Mar 18</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr10"><th class="nw">Mar 20</th><td class="nw">Tuesday</td><td><a href="/calendar/march-equinox.html">March equinox</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr11"><th class="nw">Apr 5</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr12"><th class="nw">May 1</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr class="c1" id="tr13"><th class="nw">May 5</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr14"><th class="nw">May 7</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr15"><th class="nw">May 8</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr16"><th class="nw">May 15</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr17"><th class="nw">May 22</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr18"><th class="nw">Jun 6</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr19"><th class="nw">Jun 13</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr20"><th class="nw">Jun 21</th><td class="nw">Thursday</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr21"><th class="nw">Jul 17</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr22"><th class="nw">Aug 15</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr23"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/calendar/september-equinox.html">September equinox</a></td><td>Season</td></tr>,
 <tr class="c0" id="tr24"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr25"><th class="nw">Sep 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr26"><th class="nw">Sep 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr27"><th class="nw">Sep 26</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr28"><th class="nw">Oct 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr29"><th class="nw">Oct 3</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr30"><th class="nw">Oct 9</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr31"><th class="nw">Oct 31</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr32"><th class="nw">Dec 21</th><td class="nw">Friday</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr33"><th class="nw">Dec 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr34"><th class="nw">Dec 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr35"><th class="nw">Dec 31</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]

In [51]:
tds =contents[0].findAll("td")
    for td in tds:
        emptyList.appnd(td.text)

IndentationError: unexpected indent (<ipython-input-51-f53f8be896d0>, line 2)

In [40]:
tds=contents[0].select("td")
tds

[<td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>,
 <td>National holiday</td>]

In [53]:
for content in contents:
    tds=content.findAll("td")
    dfcontent.append(td.text)
dfcontent

['Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance',
 'Observance']

AssertionError: 4 columns passed, passed data had 3 columns